.tabs {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.tabs-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-orange);
  font-size: 16px;
  font-weight: 700;
  height: 86px;
  text-transform: uppercase;
  border: 1px solid #1b68ff;
  border-radius: 10px;
  padding: 0 30px;
  cursor: pointer;
  &.active {
    border-radius: 10px 10px 0 0;
    border-bottom: none;
    img {
      transform: rotate(180deg);
    }
  }
}

.tabs-content {
  font-size: 16px;
  font-weight: 500;
  border: 1px solid var(--color-blue);
  border-radius: 0 0 10px 10px;
  h3 {
    color: white;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 25px;
    position: relative;
    padding: 2px;
    background: rgba(242, 99, 63, 0.4);
    border-left: 1px solid #f2633f;
    border-right: 1px solid #f2633f;
    display: inline-flex;
    &::before {
      content: "";
      position: absolute;
      top: -6px;
      left: -4px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: var(--color-orange);
    }
    &::after {
      content: "";
      position: absolute;
      bottom: -6px;
      right: -4px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: var(--color-orange);
    }
  }
  p {
    margin: 0;
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  div {
    border-bottom: 1px solid #2d293d;
    padding: 50px 30px;
  }
  ul {
    list-style: disc;
    margin-left: 15px;
    margin-bottom: 35px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
