section.advantages._container#advantages-block
  .section-head.advantages__title
    h2 / WHY US? /
  .advantages__grid.grid
    .advantages__item.grid__item.item1
      .advantages__item-title No risks and no overpayments
      p We will agree on the cost and conditions before Work, sign the contract and give a guarantee.
    .advantages__item.grid__item.item2
      .advantages__item-title Step-by-step payment for the result
      p Pay in installments - it's convenient and safe.
    .advantages__item.grid__item.item3
      .advantages__item-title Quickly launch MVP
      p We'll formulate a hypothesis, create a We create a plan and implement it in the shortest possible time. On average, 15 to 23 days.
    .advantages__item.grid__item.item4
      .advantages__item-title Three payment models to choose from
      p Payment based on person-hours, fixed price for the entire project and payment for individual specialists.
    .advantages__item.grid__item.item5
      .advantages__item-title Maximum personalization
      p We'll focus on your problem and give you solution that's aligned with your business objectives.
    .advantages__item.grid__item.item6
      .advantages__item-title Customized solutions
      p We will develop a custom UX/UI design and write clean and unique code.
  .advantages__footer
    .advantages__item.grid__item.item5
      .advantages__item-title Maximum personalization
      p We'll focus on your problem and give you solution that's aligned with your business objectives.
    .advantages__item.grid__item.item6
      .advantages__item-title Customized solutions
      p We will develop a custom UX/UI design and write clean and unique code.

  a(href="#consultation-block").btn-default.advantages__btn   
    <span>+</span> Reach our team