// uno farm
.card.card-modal.card-uno.hidden
  .card-modal__wrapper
    span.card__close
      img(src="img/close.png" alt="")
    ._container 
      .card__header 
        .card__name UNO farm <a href="https://uno.farm/" target="_blank">/uno.farm</a>
        .card__header-content 
          .card__header-col 
            p UnoFarm is a yield farming aggregator. It automates the farming process in your favour. Yield farming is considered one of the most popular investment strategies in DeFi (Decentralised Finance). Yield farming allows DeFi users to earn additional profits from lending/borrowing their cryptocurrency assets, while providing liquidity to decentralized exchanges (DEX).
          .card__header-col
            .card__header-row
              <span>Service:</span> Software Development
            .card__header-row
              <span>Project Stage:</span> Release
            .card__header-row
              <span>Blockchain:</span> Polygon, Everscale, Avalanche, Aurora
            .card__header-row
              <span>Technology Stack:</span> Solidity, Web3.js, Vue.js, Node.js, The Graph
      .card__content 
        .card__swiper-container
          .swiper.swiper-card.mySwiper2
            .swiper-wrapper
              .swiper-slide
                img(src="img/cases/content/unofarm/491357_54de3c76e29c4fc78cb646bd094f5899_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/unofarm/image2.png" alt="")
              .swiper-slide
                img(src="img/cases/content/unofarm/491357_1147923b7f40446cac30a1ac944f127d_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/unofarm/491357_c51b60bd14cd4827800b91dcb5d17171_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/unofarm/image.png" alt="")
              .swiper-slide
                img(src="img/cases/content/unofarm/491357_e0029e7f298845ea8fbdc6b266d02bda_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/unofarm/491357_f1692f85e50e430f9511f52ec012c071_mv2.webp" alt="")
          .swiper.swiper-card-thumbs.mySwiper(thumbsSlider="")
            .swiper-wrapper
              .swiper-slide
                img(src="img/cases/content/unofarm/491357_54de3c76e29c4fc78cb646bd094f5899_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/unofarm/image2.png" alt="")
              .swiper-slide
                img(src="img/cases/content/unofarm/491357_1147923b7f40446cac30a1ac944f127d_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/unofarm/491357_c51b60bd14cd4827800b91dcb5d17171_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/unofarm/image.png" alt="")
              .swiper-slide
                img(src="img/cases/content/unofarm/491357_e0029e7f298845ea8fbdc6b266d02bda_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/unofarm/491357_f1692f85e50e430f9511f52ec012c071_mv2.webp" alt="")
            .swiper-button-prev
              img(src="img/arrow-prev.svg" alt="").current
              img(src="img/arrow-disabled.svg" alt="").disabled
            .swiper-button-next
              img(src="img/arrow-next.svg" alt="").current
              img(src="img/arrow-disabled.svg" alt="").disabled

// amnext
.card.card-modal.hidden
  .card-modal__wrapper
    span.card__close
      img(src="img/close.png" alt="")
    ._container 
      .card__header 
        .card__name Amnext 
        .card__header-content 
          .card__header-col 
            p A DeFi lottery aggregator with swap and direct Binance bridge
          .card__header-col
            .card__header-row
              <span>Service:</span> Software Development
            .card__header-row
              <span>Project Stage:</span> Release
            .card__header-row
              <span>Blockchain:</span> Binance Smart Chain
            .card__header-row
              <span>Technology Stack:</span> Solidity, Web3.js, React, Node.js
      .card__content 
        .card__swiper-container
          .swiper.swiper-card.mySwiper2
            .swiper-wrapper
              .swiper-slide
                img(src="img/cases/content/amnext/491357_d5e1e128d1704a7e91d17bad11ad3fdf_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/amnext/491357_e0833a93f98440348fda8369b0efbea3_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/amnext/491357_9e3e1756d8d248558d04d5319b7d19c7_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/amnext/491357_d3dfda187baf441fad20f4b18492b11b_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/amnext/491357_ffb0b421ed6349a1b192ead056244e95_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/amnext/491357_e833771282d14301b6845f9f7bf42a62_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/amnext/491357_79d4c938dd07428081963fa4d6a36a4c_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/amnext/491357_322613cda4864126a25b3b8fb613351e_mv2.webp" alt="")
          .swiper.swiper-card-thumbs.mySwiper(thumbsSlider="")
            .swiper-wrapper
              .swiper-slide
                img(src="img/cases/content/amnext/491357_d5e1e128d1704a7e91d17bad11ad3fdf_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/amnext/491357_e0833a93f98440348fda8369b0efbea3_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/amnext/491357_9e3e1756d8d248558d04d5319b7d19c7_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/amnext/491357_d3dfda187baf441fad20f4b18492b11b_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/amnext/491357_ffb0b421ed6349a1b192ead056244e95_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/amnext/491357_e833771282d14301b6845f9f7bf42a62_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/amnext/491357_79d4c938dd07428081963fa4d6a36a4c_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/amnext/491357_322613cda4864126a25b3b8fb613351e_mv2.webp" alt="")
          .swiper-button-prev
            img(src="img/arrow-prev.svg" alt="").current
            img(src="img/arrow-disabled.svg" alt="").disabled
          .swiper-button-next
            img(src="img/arrow-next.svg" alt="").current
            img(src="img/arrow-disabled.svg" alt="").disabled

// voomo
.card.card-modal.hidden
  .card-modal__wrapper
    span.card__close
      img(src="img/close.png" alt="")
    ._container 
      .card__header 
        .card__name Voomo 
        .card__header-content 
          .card__header-col 
            p Multi-level matrix system based on smart contracts that automatically redistributes funds of participants according to the algorithm, so that referrers receive rewards for referrals and for their referrals too.
          .card__header-col
            .card__header-row
              <span>Service:</span> Software Development
            .card__header-row
              <span>Project Stage:</span> Release
            .card__header-row
              <span>Blockchain:</span> Ethereum
            .card__header-row
              <span>Technology Stack:</span> Node.js, Web3.js, Solidity
      .card__content 
        .card__swiper-container
          .swiper.swiper-card.mySwiper2
            .swiper-wrapper
              .swiper-slide
                img(src="img/cases/content/voomo/491357_f56d85a60482451694490c317abe524d_mv2.webp" alt="")
          .swiper.swiper-card-thumbs.mySwiper(thumbsSlider="")
            .swiper-wrapper
              .swiper-slide
                img(src="img/cases/content/voomo/491357_f56d85a60482451694490c317abe524d_mv2.webp" alt="")
          .swiper-button-prev
            img(src="img/arrow-prev.svg" alt="").current
            img(src="img/arrow-disabled.svg" alt="").disabled
          .swiper-button-next
            img(src="img/arrow-next.svg" alt="").current
            img(src="img/arrow-disabled.svg" alt="").disabled

// starter
.card.card-modal.hidden
  .card-modal__wrapper
    span.card__close
      img(src="img/close.png" alt="")
    ._container 
      .card__header 
        .card__name xStarter 
        .card__header-content 
          .card__header-col 
            p A DeFi project which contains a launchpad and staking/swaping functions.
          .card__header-col
            .card__header-row
              <span>Service:</span> Software Development
            .card__header-row
              <span>Project Stage:</span> Release
            .card__header-row
              <span>Blockchain:</span> Ethereum, BSC, Polygon
            .card__header-row
              <span>Technology Stack:</span> Solidity, Web3.js, Blockchain, React.js, Node.js
      .card__content 
        .card__swiper-container
          .swiper.swiper-card.mySwiper2
            .swiper-wrapper
              .swiper-slide
                img(src="img/cases/content/starter/491357_997a2d56b0c24becaa236b7df6f5f0d4_mv2.webp" alt="")
          .swiper.swiper-card-thumbs.mySwiper(thumbsSlider="")
            .swiper-wrapper
              .swiper-slide
                img(src="img/cases/content/starter/491357_997a2d56b0c24becaa236b7df6f5f0d4_mv2.webp" alt="")
          .swiper-button-prev
            img(src="img/arrow-prev.svg" alt="").current
            img(src="img/arrow-disabled.svg" alt="").disabled
          .swiper-button-next
            img(src="img/arrow-next.svg" alt="").current
            img(src="img/arrow-disabled.svg" alt="").disabled

// social
.card.card-modal.hidden
  .card-modal__wrapper
    span.card__close
      img(src="img/close.png" alt="")
    ._container 
      .card__header 
        .card__name SocialX  
          a(href="https://socialx.network/" target="_blank") socialx.network 
        .card__header-content 
          .card__header-col 
            p SocialX is a community-driven social media platform allowing users to publish photo and video content. It has many similarities to established social media platforms such as Facebook and Instagram, but there is one major difference: SocialX is a decentralized blockchain platform where everyone can earn cryptocurrency SOCX token rewards.
          .card__header-col
            .card__header-row
              <span>Service:</span> Software Development
            .card__header-row
              <span>Project Stage:</span> Release
            .card__header-row
              <span>Blockchain:</span> EVM compatible networks
            .card__header-row
              <span>Technology Stack:</span> Solidity, Web3.js, Blockchain, WordPress, React.js, Node.js, Python, React Native

      .card__content 
        .card__swiper-container
          .swiper.swiper-card.mySwiper2
            .swiper-wrapper
              .swiper-slide
                img(src="img/cases/content/social/491357_b8599aecc6174674ae0ef763c0c5766c_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/social/491357_b8599aecc6174674ae0ef763c0c5766c_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/social/491357_6a379d2770f747feb7e9de0fd0acd79e_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/social/491357_653fca5164ab4287bd601507129581ef_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/social/491357_aa36e87e7aa744afad17e9bd86c11f08_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/social/491357_c713fb5fc1ff4c8096aa0cf4f6fd5401_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/social/491357_608259f109f0486c99b0c508307048b1_mv2.webp" alt="")
          .swiper.swiper-card-thumbs.mySwiper(thumbsSlider="")
            .swiper-wrapper
              .swiper-slide
                img(src="img/cases/content/social/491357_b8599aecc6174674ae0ef763c0c5766c_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/social/491357_b8599aecc6174674ae0ef763c0c5766c_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/social/491357_6a379d2770f747feb7e9de0fd0acd79e_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/social/491357_653fca5164ab4287bd601507129581ef_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/social/491357_aa36e87e7aa744afad17e9bd86c11f08_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/social/491357_c713fb5fc1ff4c8096aa0cf4f6fd5401_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/social/491357_608259f109f0486c99b0c508307048b1_mv2.webp" alt="")
          .swiper-button-prev
            img(src="img/arrow-prev.svg" alt="").current
            img(src="img/arrow-disabled.svg" alt="").disabled
          .swiper-button-next
            img(src="img/arrow-next.svg" alt="").current
            img(src="img/arrow-disabled.svg" alt="").disabled

// swapcase
.card.card-modal.hidden
  .card-modal__wrapper
    span.card__close
      img(src="img/close.png" alt="")
    ._container 
      .card__header 
        .card__name SwapCase 
          a(href="https://swapcase.io/" target="_blank") swapcase.io
        .card__header-content 
          .card__header-col 
            p A non-custodial wallet, decentralized order book, atomic swap between different chains within one application with P2P trading
          .card__header-col
            .card__header-row
              <span>Service:</span> Software Development
            .card__header-row
              <span>Project Stage:</span> Release
            .card__header-row
              <span>Blockchain:</span> Binance Smart Chain
            .card__header-row
              <span>Technology Stack:</span> Solidity, Web3.js, Blockchain, React
      .card__content 
        .card__swiper-container
          .swiper.swiper-card.mySwiper2
            .swiper-wrapper
              .swiper-slide
                img(src="img/cases/content/swapcase/491357_e015ad562d9d47abb61af6296b80ff2a_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/swapcase/491357_bb3ab037e4e54ffc979749ea38ebbfcc_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/swapcase/491357_ffc8da38a1194d2792f173136b0bc24f_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/swapcase/491357_4161027ac5e34ebebe77131c198183bc_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/swapcase/491357_2a2806ccc1774fb58e1b5195f7e4054f_mv2.webp" alt="")
          .swiper.swiper-card-thumbs.mySwiper(thumbsSlider="")
            .swiper-wrapper
              .swiper-slide
                img(src="img/cases/content/swapcase/491357_e015ad562d9d47abb61af6296b80ff2a_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/swapcase/491357_bb3ab037e4e54ffc979749ea38ebbfcc_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/swapcase/491357_ffc8da38a1194d2792f173136b0bc24f_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/swapcase/491357_4161027ac5e34ebebe77131c198183bc_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/swapcase/491357_2a2806ccc1774fb58e1b5195f7e4054f_mv2.webp" alt="")
          .swiper-button-prev
            img(src="img/arrow-prev.svg" alt="").current
            img(src="img/arrow-disabled.svg" alt="").disabled
          .swiper-button-next
            img(src="img/arrow-next.svg" alt="").current
            img(src="img/arrow-disabled.svg" alt="").disabled

// Spicy Network
.card.card-modal.hidden
  .card-modal__wrapper
    span.card__close
      img(src="img/close.png" alt="")
    ._container 
      .card__header 
        .card__name Spicy Network 
          a(href="https://www.spicy.network/" target="_blank") spicy.network
        .card__header-content 
          .card__header-col 
            p Spicy network is the most advanced and dynamic DeFi concept in the crypto-verse. An all-in-one solution that provides all the services needed by upcoming companies who desire to launch their projects, and for investors that want everything in one platform. SPICY brings a next-gen NFT concept to the market, and the whole SPICY ecosystem has its dynamical structure to facilitate long-term sustainability. Launchpads and IDO’s are now an old concept in Crypto.
          .card__header-col
            .card__header-row
              <span>Service:</span> Software Development
            .card__header-row
              <span>Project Stage:</span> Release
            .card__header-row
              <span>Blockchain:</span> Binance Smart Chain
            .card__header-row
              <span>Technology Stack:</span>  Solidity, Web3.js, React.js, Node.js

      .card__content 
        .card__swiper-container
          .swiper.swiper-card.mySwiper2
            .swiper-wrapper
              .swiper-slide
                img(src="img/cases/content/spicynetwork/491357_5ed8bfc744b84e29a2c35f6f85ffa929_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/spicynetwork/491357_4953d142da9446efb489812aa6bae105_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/spicynetwork/491357_01cca47641e24a8e962948be6d8cd6fa_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/spicynetwork/491357_468750e14d1b48a09930139933f89e30_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/spicynetwork/491357_554dc8fe4f1642138ce447e8f54b8bce_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/spicynetwork/491357_22625a7e8fcd48f78c8e0d626dc18925_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/spicynetwork/491357_c3f7e30645334e05984f146ee154858f_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/spicynetwork/491357_b1e46c42de7048f9b67ce64b7496a866_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/spicynetwork/491357_d8fafd455db546cdb4c9c356fce145bd_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/spicynetwork/491357_e23267ae5ce746e8b62933587786e0b0_mv2.webp" alt="")

          .swiper.swiper-card-thumbs.mySwiper(thumbsSlider="")
            .swiper-wrapper
              .swiper-slide
                img(src="img/cases/content/spicynetwork/491357_5ed8bfc744b84e29a2c35f6f85ffa929_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/spicynetwork/491357_4953d142da9446efb489812aa6bae105_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/spicynetwork/491357_01cca47641e24a8e962948be6d8cd6fa_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/spicynetwork/491357_468750e14d1b48a09930139933f89e30_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/spicynetwork/491357_554dc8fe4f1642138ce447e8f54b8bce_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/spicynetwork/491357_22625a7e8fcd48f78c8e0d626dc18925_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/spicynetwork/491357_c3f7e30645334e05984f146ee154858f_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/spicynetwork/491357_b1e46c42de7048f9b67ce64b7496a866_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/spicynetwork/491357_d8fafd455db546cdb4c9c356fce145bd_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/spicynetwork/491357_e23267ae5ce746e8b62933587786e0b0_mv2.webp" alt="")
          .swiper-button-prev
            img(src="img/arrow-prev.svg" alt="").current
            img(src="img/arrow-disabled.svg" alt="").disabled
          .swiper-button-next
            img(src="img/arrow-next.svg" alt="").current
            img(src="img/arrow-disabled.svg" alt="").disabled

// Diamond Hands
.card.card-modal.hidden
  .card-modal__wrapper
    span.card__close
      img(src="img/close.png" alt="")
    ._container 
      .card__header 
        .card__name Diamond Hands 
          a(href="https://diamondhands.ai/" target="_blank") diamondhands.ai
        .card__header-content 
          .card__header-col 
            p Limited edition dynamically priced tokens, redeemable for a physical diamond ring. Real physical limited edition jewelry with NFT as proof of ownershipIn a fast-changing environment, Bitcoin came up as the principal catalyst of a finance transformation that intends to revolutionize all the previously established principles. Underlying Bitcoin’s impact, luxury jewelry brand DESIRED designed a limited edition collection named as Diamond Hands to combine fashion and crypto innovatively in both usages and aesthetics.The Diamond Hands collection symbolizes a new era. 
          .card__header-col
            .card__header-row
              <span>Service:</span> Software Development
            .card__header-row
              <span>Project Stage:</span> Release
            .card__header-row
              <span>Blockchain:</span> Ethereum
            .card__header-row
              <span>Technology Stack:</span>  React.js, Node.js, Solidity, Web3.js, Uniswap V3, Airtables

      .card__content 
        .card__swiper-container
          .swiper.swiper-card.mySwiper2
            .swiper-wrapper
              .swiper-slide
                img(src="img/cases/content/diamond/491357_6aeab4899f5240a5b8a8367f143731c8_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/diamond/491357_36ee26b7e090447fa343291aa123755b_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/diamond/491357_3b3f1decf4c2452aa2d988f3bdbc56e9_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/diamond/491357_78b142da73c342ecb7cb4c143c05ad26_mv2.webp" alt="")
          .swiper.swiper-card-thumbs.mySwiper(thumbsSlider="")
            .swiper-wrapper
              .swiper-slide
                img(src="img/cases/content/diamond/491357_6aeab4899f5240a5b8a8367f143731c8_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/diamond/491357_36ee26b7e090447fa343291aa123755b_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/diamond/491357_3b3f1decf4c2452aa2d988f3bdbc56e9_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/diamond/491357_78b142da73c342ecb7cb4c143c05ad26_mv2.webp" alt="")
          .swiper-button-prev
            img(src="img/arrow-prev.svg" alt="").current
            img(src="img/arrow-disabled.svg" alt="").disabled
          .swiper-button-next
            img(src="img/arrow-next.svg" alt="").current
            img(src="img/arrow-disabled.svg" alt="").disabled

// Mandala Exchange
.card.card-modal.hidden
  .card-modal__wrapper
    span.card__close
      img(src="img/close.png" alt="")
    ._container 
      .card__header 
        .card__name Mandala Exchange 
          a(href="https://www.mandala.exchange/" target="_blank") mandala.exchange
        .card__header-content 
          .card__header-col 
            p Mandala aims to be the most trusted digital asset exchange on the market, allowing their users to trade cryptocurrency with confidence on an industry-leading exchange platform with access to the largest liquidity pool in the world and fees as low as 0.065%
          .card__header-col
            .card__header-row
              <span>Service:</span> Software Development
            .card__header-row
              <span>Project Stage:</span> Release
            .card__header-row
              <span>Blockchain:</span> -
            .card__header-row
              <span>Technology Stack:</span>  Web3.js, React.js, Node.js

      .card__content 
        .card__swiper-container
          .swiper.swiper-card.mySwiper2
            .swiper-wrapper
              .swiper-slide
                img(src="img/cases/content/mandala/491357_6f8cccc40e6a4b1da9f41ad252d285dc_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/mandala/491357_bc6b38158ca0463c973ec80a654b8486_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/mandala/491357_44a2ba0fa03c48d68a7e9a0b93019e21_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/mandala/491357_dd9baba8229d427db5a27ab0e6f9ecf9_mv2.webp" alt="")
          .swiper.swiper-card-thumbs.mySwiper(thumbsSlider="")
            .swiper-wrapper
              .swiper-slide
                img(src="img/cases/content/mandala/491357_6f8cccc40e6a4b1da9f41ad252d285dc_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/mandala/491357_bc6b38158ca0463c973ec80a654b8486_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/mandala/491357_44a2ba0fa03c48d68a7e9a0b93019e21_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/mandala/491357_dd9baba8229d427db5a27ab0e6f9ecf9_mv2.webp" alt="")

          .swiper-button-prev
            img(src="img/arrow-prev.svg" alt="").current
            img(src="img/arrow-disabled.svg" alt="").disabled
          .swiper-button-next
            img(src="img/arrow-next.svg" alt="").current
            img(src="img/arrow-disabled.svg" alt="").disabled

// Fair Gaming
.card.card-modal.hidden
  .card-modal__wrapper
    span.card__close
      img(src="img/close.png" alt="")
    ._container 
      .card__header 
        .card__name Fair Gaming 
          a(href="https://www.fairprotocol.solutions/" target="_blank") fairprotocol.solutions
        .card__header-content 
          .card__header-col 
            p Decentralized P2P game protocol and games based on it. FAIR protocol allows user to play directly with another user, bypassing all intermediaries.
          .card__header-col
            .card__header-row
              <span>Service:</span> Software Development
            .card__header-row
              <span>Project Stage:</span> Release
            .card__header-row
              <span>Blockchain:</span> Oasis, Emerald
            .card__header-row
              <span>Technology Stack:</span>  Solidity, Web3.js, Vue.js, Node.js, The Graph

      .card__content 
        .card__swiper-container
          .swiper.swiper-card.mySwiper2
            .swiper-wrapper
              .swiper-slide
                img(src="img/cases/content/fair/2fde8a_a47a472b88674ca58aba244d5e10ba71_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/fair/2fde8a_c04689097894426da29d7b329d1d5889_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/fair/2fde8a_e4fb5877dda7410e8a625d57adc38746_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/fair/2fde8a_9f6b0a1fcbc94aa0af8e6870fcac0910_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/fair/2fde8a_7f87a4f1dbd14062a6a85bcea0e3992f_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/fair/2fde8a_f7728f15fd084d4c89bc007a4b8e96ec_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/fair/2fde8a_757e1050727e4f6dba7195ab9072e9b9_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/fair/2fde8a_f65a5db1e9ca436587a1c67fe5560ad4_mv2.webp" alt="")
          .swiper.swiper-card-thumbs.mySwiper(thumbsSlider="")
            .swiper-wrapper
              .swiper-slide
                img(src="img/cases/content/fair/2fde8a_a47a472b88674ca58aba244d5e10ba71_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/fair/2fde8a_c04689097894426da29d7b329d1d5889_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/fair/2fde8a_e4fb5877dda7410e8a625d57adc38746_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/fair/2fde8a_9f6b0a1fcbc94aa0af8e6870fcac0910_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/fair/2fde8a_7f87a4f1dbd14062a6a85bcea0e3992f_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/fair/2fde8a_f7728f15fd084d4c89bc007a4b8e96ec_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/fair/2fde8a_757e1050727e4f6dba7195ab9072e9b9_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/fair/2fde8a_f65a5db1e9ca436587a1c67fe5560ad4_mv2.webp" alt="")

          .swiper-button-prev
            img(src="img/arrow-prev.svg" alt="").current
            img(src="img/arrow-disabled.svg" alt="").disabled
          .swiper-button-next
            img(src="img/arrow-next.svg" alt="").current
            img(src="img/arrow-disabled.svg" alt="").disabled

// Phyera
.card.card-modal.hidden
  .card-modal__wrapper
    span.card__close
      img(src="img/close.png" alt="")
    ._container 
      .card__header 
        .card__name Phyera 
          a(href="http://phyera.com/" target="_blank") Phyera.com
        .card__header-content 
          .card__header-col 
            p ​A multi-purpose system combining mining, NFT and DAO solutions.
            ul 
              li NFT as a certificate of equipment ownership
              li DAO as an asset management tool
              li Hosting control solution
              li NFT marketplaces
              li NFT Marketplacefor buying and selling equipment
              li Ability to sell equipment on modern NFT marketplaces
          .card__header-col
            .card__header-row
              <span>Service:</span> Software Development
            .card__header-row
              <span>Project Stage:</span> Release
            .card__header-row
              <span>Blockchain:</span> Bitcoin, Ethereum, Polygon, BSC
            .card__header-row
              <span>Technology Stack:</span>  Solidity, Web3.js, Vue.js, Node.js, The Graph

      .card__content 
        .card__swiper-container
          .swiper.swiper-card.mySwiper2
            .swiper-wrapper
              .swiper-slide
                img(src="img/cases/content/phyera/2fde8a_b0b9353c325f48ccb9540da5f9271cf0_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/phyera/2fde8a_fbdfb1f97d294c49955884aa23ed5f69_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/phyera/2fde8a_981c8d9f1df64d01b3e21ae271a4e283_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/phyera/2fde8a_f42225c09c2e4aec854f49e537ced993_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/phyera/2fde8a_a1e7cfa5b593422d9f874882cac63bcc_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/phyera/2fde8a_9cdbf3d41559407b841db97135728310_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/phyera/2fde8a_9361fe5586304282970199e9740460e1_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/phyera/2fde8a_ce3a355e55b249ba83068fa8f1137e75_mv2.webp" alt="")
          .swiper.swiper-card-thumbs.mySwiper(thumbsSlider="")
            .swiper-wrapper
              .swiper-slide
                img(src="img/cases/content/phyera/2fde8a_b0b9353c325f48ccb9540da5f9271cf0_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/phyera/2fde8a_fbdfb1f97d294c49955884aa23ed5f69_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/phyera/2fde8a_981c8d9f1df64d01b3e21ae271a4e283_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/phyera/2fde8a_f42225c09c2e4aec854f49e537ced993_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/phyera/2fde8a_a1e7cfa5b593422d9f874882cac63bcc_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/phyera/2fde8a_9cdbf3d41559407b841db97135728310_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/phyera/2fde8a_9361fe5586304282970199e9740460e1_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/phyera/2fde8a_ce3a355e55b249ba83068fa8f1137e75_mv2.webp" alt="")

          .swiper-button-prev
            img(src="img/arrow-prev.svg" alt="").current
            img(src="img/arrow-disabled.svg" alt="").disabled
          .swiper-button-next
            img(src="img/arrow-next.svg" alt="").current
            img(src="img/arrow-disabled.svg" alt="").disabled

// BDNS
.card.card-modal.card-bdns.hidden
  .card-modal__wrapper
    span.card__close
      img(src="img/close.png" alt="")
    ._container 
      .card__header 
        .card__name BDNS 
          a(href="https://uno.farm/" target="_blank") BDNS.app
        .card__header-content 
          .card__header-col 
            p BDNS is the world's first Ethereum name-only domain name service. NODs are mintable in the form of non-fungible tokens (NFTs) which you can configure to an Ethereum wallet address on a purely name-only basis. For example, instead of "Blockchain.eth", your Ethereum wallet address becomes simply "Blockchain" with the purchase and configuration of a BDNS NFT.
          .card__header-col
            .card__header-row
              <span>Service:</span> Software Development
            .card__header-row
              <span>Project Stage:</span> Release
            .card__header-row
              <span>Blockchain:</span> Ethereum
            .card__header-row
              <span>Technology Stack:</span>  Solidity, Web3.js, Vue.js, Node.js, The Graph

      .card__content 
        .card__swiper-container
          .swiper.swiper-card.mySwiper2
            .swiper-wrapper
              .swiper-slide
                img(src="img/cases/content/bdns/2fde8a_55fdb863b87241de9a2de39f52129405_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/bdns/2fde8a_2e8d352349254e2ba2039a3d2789a5d9_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/bdns/2fde8a_473922cb38be437faf9fa365d52bf9fa_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/bdns/2fde8a_b5a05d7c9017472aa997908bb2008dc8_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/bdns/2fde8a_9e462c6bf53f451f8e15d60d7c5cc4c6_mv2.webp" alt="")
          .swiper.swiper-card-thumbs.mySwiper(thumbsSlider="")
            .swiper-wrapper
              .swiper-slide
                img(src="img/cases/content/bdns/2fde8a_55fdb863b87241de9a2de39f52129405_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/bdns/2fde8a_2e8d352349254e2ba2039a3d2789a5d9_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/bdns/2fde8a_473922cb38be437faf9fa365d52bf9fa_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/bdns/2fde8a_b5a05d7c9017472aa997908bb2008dc8_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/bdns/2fde8a_9e462c6bf53f451f8e15d60d7c5cc4c6_mv2.webp" alt="")

          .swiper-button-prev
            img(src="img/arrow-prev.svg" alt="").current
            img(src="img/arrow-disabled.svg" alt="").disabled
          .swiper-button-next
            img(src="img/arrow-next.svg" alt="").current
            img(src="img/arrow-disabled.svg" alt="").disabled

// darwin
.card.card-modal.hidden
  .card-modal__wrapper
    span.card__close
      img(src="img/close.png" alt="")
    ._container 
      .card__header 
        .card__name Darwin 
          a(href="https://darwin.co/" target="_blank") darwin.co
        .card__header-content 
          .card__header-col 
            p Premium ecommerce platform with paid membership that gives you extra perks and is operated on smart contracts.
          .card__header-col
            .card__header-row
              <span>Service:</span> Software Development
            .card__header-row
              <span>Project Stage:</span> Release
            .card__header-row
              <span>Blockchain:</span> Ethereum
            .card__header-row
              <span>Technology Stack:</span>  Web3.js, Solidity, Node.js

      .card__content 
        .card__swiper-container
          .swiper.swiper-card.mySwiper2
            .swiper-wrapper
              .swiper-slide
                img(src="img/cases/content/darwin/491357_abb94b6cb9f248579d7dbf265fb455a0_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/darwin/491357_161e2e5ab18546b1b3e38edb516eb700_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/darwin/491357_c1412e20661b4a13b134f1a12c94f85a_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/darwin/491357_e6152f8ef6c24f3f9fae5e467b90ec0f_mv2.webp" alt="")
          .swiper.swiper-card-thumbs.mySwiper(thumbsSlider="")
            .swiper-wrapper
              .swiper-slide
                img(src="img/cases/content/darwin/491357_abb94b6cb9f248579d7dbf265fb455a0_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/darwin/491357_161e2e5ab18546b1b3e38edb516eb700_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/darwin/491357_c1412e20661b4a13b134f1a12c94f85a_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/darwin/491357_e6152f8ef6c24f3f9fae5e467b90ec0f_mv2.webp" alt="")

          .swiper-button-prev
            img(src="img/arrow-prev.svg" alt="").current
            img(src="img/arrow-disabled.svg" alt="").disabled
          .swiper-button-next
            img(src="img/arrow-next.svg" alt="").current
            img(src="img/arrow-disabled.svg" alt="").disabled

// 1 stop experiences
.card.card-modal.hidden
  .card-modal__wrapper
    span.card__close
      img(src="img/close.png" alt="")
    ._container 
      .card__header 
        .card__name 1 stop experiences 
          a(href="https://www.chamonix-experiences.com/" target="_blank") chamonix-experiences.com
        .card__header-content 
          .card__header-col 
            p Super app for travel. Not only accommodation booking, but also provide users the ability to have their lift tickets and rental equipment booked online and delivered to their accommodation. 1stop provide the ability to conveniently book user's airport transport with high quality, reputable transfer services. 1stop provide users the ease of booking everything from guides, to instructors, to spas, to food, to... Whatever you need to make their experience unforgettable.
          .card__header-col
            .card__header-row
              <span>Service:</span> Software Development
            .card__header-row
              <span>Project Stage:</span> Release
            .card__header-row
              <span>Blockchain:</span> -
            .card__header-row
              <span>Technology Stack:</span>  Python / Django, Vue.js, PostgreSQL

      .card__content 
        .card__swiper-container
          .swiper.swiper-card.mySwiper2
            .swiper-wrapper
              .swiper-slide
                img(src="img/cases/content/1stop/2fde8a_e7754d374d1944a6be61e2d6c482ed0f_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/1stop/2fde8a_b4503d4c95d146c891ebc2c2bec26939_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/1stop/2fde8a_a306c0310ffa406cbcfd460026194c97_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/1stop/2fde8a_063b0230fd1c406fbd010980c9633719_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/1stop/2fde8a_21dcf20ce01f42ba8eb4f2e997145b9c_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/1stop/2fde8a_386bb3dd4069422c97292d09e97f4266_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/1stop/2fde8a_8f9292a8fd0f497a985e4befaa316c01_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/1stop/2fde8a_21dcf20ce01f42ba8eb4f2e997145b9c_mv2.webp" alt="")
          .swiper.swiper-card-thumbs.mySwiper(thumbsSlider="")
            .swiper-wrapper
              .swiper-slide
                img(src="img/cases/content/1stop/2fde8a_e7754d374d1944a6be61e2d6c482ed0f_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/1stop/2fde8a_b4503d4c95d146c891ebc2c2bec26939_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/1stop/2fde8a_a306c0310ffa406cbcfd460026194c97_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/1stop/2fde8a_063b0230fd1c406fbd010980c9633719_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/1stop/2fde8a_21dcf20ce01f42ba8eb4f2e997145b9c_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/1stop/2fde8a_386bb3dd4069422c97292d09e97f4266_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/1stop/2fde8a_8f9292a8fd0f497a985e4befaa316c01_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/1stop/2fde8a_21dcf20ce01f42ba8eb4f2e997145b9c_mv2.webp" alt="")

          .swiper-button-prev
            img(src="img/arrow-prev.svg" alt="").current
            img(src="img/arrow-disabled.svg" alt="").disabled
          .swiper-button-next
            img(src="img/arrow-next.svg" alt="").current
            img(src="img/arrow-disabled.svg" alt="").disabled

// Crisp
.card.card-modal.hidden
  .card-modal__wrapper
    span.card__close
      img(src="img/close.png" alt="")
    ._container 
      .card__header 
        .card__name Crisp <span>Structured Liquidity Protocol</span> 
          a(href="https://www.crisp.exchange/" target="_blank") crisp.exchange
        .card__header-content 
          .card__header-col 
            p Crisp is what we call a Structured Liquidity protocol and it combines three components:
            ul 
              li Concentrated Liquidity DEX
              li Structured Products
              li Leveraged Liquidity
            p Brought together these tools enable liquidity providers to generate more profits and hedge their risks, making liquidity provision in general more attractive to capital holders and eventually benefiting the whole DeFi industry, NEAR being the core platform for this.
          .card__header-col
            .card__header-row
              <span>Service:</span> Software Development
            .card__header-row
              <span>Project Stage:</span> Release
            .card__header-row
              <span>Blockchain:</span> NEAR
            .card__header-row
              <span>Technology Stack:</span>  Rust, Vue.JS,NEAR SDK, NEAR CLI

      .card__content 
        .card__swiper-container
          .swiper.swiper-card.mySwiper2
            .swiper-wrapper
              .swiper-slide
                img(src="img/cases/content/crisp/2fde8a_0c5b3c86580b47398c1a6a84fc7627ea_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/crisp/2fde8a_ca63155c17474831bd216e5712d0567d_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/crisp/2fde8a_d0376d24b61248d78a30f6268efac275_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/crisp/2fde8a_b315a426c5b3498eabb6b3c0028f30df_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/crisp/2fde8a_5496727fa70d4782a0c929f220006081_mv2.webp" alt="")
          .swiper.swiper-card-thumbs.mySwiper(thumbsSlider="")
            .swiper-wrapper
              .swiper-slide
                img(src="img/cases/content/crisp/2fde8a_0c5b3c86580b47398c1a6a84fc7627ea_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/crisp/2fde8a_ca63155c17474831bd216e5712d0567d_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/crisp/2fde8a_d0376d24b61248d78a30f6268efac275_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/crisp/2fde8a_b315a426c5b3498eabb6b3c0028f30df_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/crisp/2fde8a_5496727fa70d4782a0c929f220006081_mv2.webp" alt="")

          .swiper-button-prev
            img(src="img/arrow-prev.svg" alt="").current
            img(src="img/arrow-disabled.svg" alt="").disabled
          .swiper-button-next
            img(src="img/arrow-next.svg" alt="").current
            img(src="img/arrow-disabled.svg" alt="").disabled

// dWill
.card.card-modal.card-dwill.hidden
  .card-modal__wrapper
    span.card__close
      img(src="img/close.png" alt="")
    ._container 
      .card__header 
        .card__name dWill 
          a(href="https://dwill.app/" target="_blank") dWill.app
        .card__header-content 
          .card__header-col 
            p dWill - the first decentralized non-custodial inheritance protocol. With dWill, you can bequeath tokens from your cryptocurrency wallet to the trusted wallets of your family and friends (or, for example, to your reserve wallet).
            p dWill works completely in a decentralized way, reliably and autonomously.
          .card__header-col
            .card__header-row
              <span>Service:</span> DeFi service development
            .card__header-row
              <span>Project Stage:</span> Release
            .card__header-row
              <span>Blockchain:</span> Ethereum, BSC, Polygon, Avalanche, Arbitrum, Optimism
            .card__header-row
              <span>Technology Stack:</span>  Solidity, Web3.js, Vue.js, Node.js, The Graph

      .card__content 
        .card__swiper-container
          .swiper.swiper-card.mySwiper2
            .swiper-wrapper
              .swiper-slide
                img(src="img/cases/content/dwill/2fde8a_2db21fc374354090afd7633d898a3978_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/dwill/image5.png" alt="")
              .swiper-slide
                img(src="img/cases/content/dwill/image4.png" alt="")
              .swiper-slide
                img(src="img/cases/content/dwill/2fde8a_1de277e98c3c4fbcb605d695e880321d_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/dwill/2fde8a_8e6c7bf5710a4839b313259689fe2348_mv2.webp" alt="")
          .swiper.swiper-card-thumbs.mySwiper(thumbsSlider="")
            .swiper-wrapper
              .swiper-slide
                img(src="img/cases/content/dwill/2fde8a_2db21fc374354090afd7633d898a3978_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/dwill/image5.png" alt="")
              .swiper-slide
                img(src="img/cases/content/dwill/image4.png" alt="")
              .swiper-slide
                img(src="img/cases/content/dwill/2fde8a_1de277e98c3c4fbcb605d695e880321d_mv2.webp" alt="")
              .swiper-slide
                img(src="img/cases/content/dwill/2fde8a_8e6c7bf5710a4839b313259689fe2348_mv2.webp" alt="")

          .swiper-button-prev
            img(src="img/arrow-prev.svg" alt="").current
            img(src="img/arrow-disabled.svg" alt="").disabled
          .swiper-button-next
            img(src="img/arrow-next.svg" alt="").current
            img(src="img/arrow-disabled.svg" alt="").disabled

// hey card
.card.card-modal.hidden
  .card-modal__wrapper
    span.card__close
      img(src="img/close.png" alt="")
    ._container 
      .card__header 
        .card__name HeyCard 
          a(href="https://t.me/HeyCard_bot" target="_blank") HeyCard
        .card__header-content 
          .card__header-col 
            p HeyCard is a neobank and cryptocurrency wallet in the form of a Telegram bot. It allows users to create a custodial account, top it up with cryptocurrency and get a Visa bank card which can be used anywhere in the world.
          .card__header-col
            .card__header-row
              <span>Service:</span>  Software Development
            .card__header-row
              <span>Project Stage:</span> Release
            .card__header-row
              <span>Blockchain:</span> Ethereum, Polygon
            .card__header-row
              <span>Technology Stack:</span>  Vue.js, Python/Django, CryptoAPIs

      .card__content 
        .card__swiper-container
          .swiper.swiper-card.mySwiper2
            .swiper-wrapper
              .swiper-slide
                img(src="img/cases/content/heycard/2fde8a_5bb7f0ccd616485e996357cd65b1c2d3_mv2.webp" alt="")
          .swiper.swiper-card-thumbs.mySwiper(thumbsSlider="")
            .swiper-wrapper
              .swiper-slide
                img(src="img/cases/content/heycard/2fde8a_5bb7f0ccd616485e996357cd65b1c2d3_mv2.webp" alt="")

          .swiper-button-prev
            img(src="img/arrow-prev.svg" alt="").current
            img(src="img/arrow-disabled.svg" alt="").disabled
          .swiper-button-next
            img(src="img/arrow-next.svg" alt="").current
            img(src="img/arrow-disabled.svg" alt="").disabled
