section.cases#cases-block
  ._container
    .section-head.cases__title
      h2 / CASE STUDIES /
    .cases__wrapper 
      .cases__item
        .cases__picture.cases__grid-item1
          .cases__picture-single.show-uno
            img(src="img/cases/image1.jpg" alt="")
          .cases__picture-single.show-uno
            img(src="img/cases/image2.jpg" alt="")
          .cases__picture-single.show-uno
            img(src="img/cases/image3.jpg" alt="")
          .cases__picture-single.show-uno
            img(src="img/cases/image4.jpg" alt="")
        .cases__item-col
          .cases__number.cases__grid-item2
            span <i>1</i>
          .cases__subtitle.cases__grid-item3.show-uno UNO farm <a>/uno.farm</a>
          .cases__text.cases__grid-item4.show-uno
            p The project helps crypto-investors maximize their profits and minimize risk by automatically allocating their portfolio funds between DeFi's best products with a single tool. This aggregation is safer and more profitable, giving them easy access to the best interest on their assets.
        .cases__text.cases__text--mobile.cases__grid-item4.show-uno
          p The project helps crypto-investors maximize their profits and mcases__picture-singlecases__picture-singleinimize risk by automatically allocating their portfolio funds between DeFi's best products with a single tool. This aggregation is safer and more profitable, giving them easy access to the best interest on their assets.

      .cases__item
        .cases__picture.cases__grid-item1.cases__picture--one
          .cases__picture-single.show-bdns
            img(src="img/cases/image5.png" alt="")
        .cases__item-col
          .cases__number.cases__grid-item2 
            span <i>2</i>
          .cases__subtitle.cases__grid-item3.show-bdns BDNS <a>/BDNS.app</a>
          .cases__text.cases__grid-item4.show-bdns
            p BDNS is the world's first Ethereum name-only domain name service. NODs are mintable in the form of non-fungible tokens (NFTs) which you can configure to an Ethereum wallet address on a purely name-only basis. For example, instead of "Blockchain.eth", your Ethereum wallet address becomes simply "Blockchain" with the purchase and configuration of a BDNS NFT.
        .cases__text.cases__text--mobile.cases__grid-item4.show-bdns
          p BDNS is the world's first Ethereum name-only domain name service. NODs are mintable in the form of non-fungible tokens (NFTs) which you can configure to an Ethereum wallet address on a purely name-only basis. For example, instead of "Blockchain.eth", your Ethereum wallet address becomes simply "Blockchain" with the purchase and configuration of a BDNS NFT.

      .cases__item
        .cases__picture.cases__grid-item1.cases__picture--two
          .cases__picture-wrapper
            .cases__picture-single.show-dwill
              img(src="img/cases/image8.png" alt="")
            .cases__picture-single.show-dwill
              img(src="img/cases/image6.jpg" alt="")
        .cases__item-col
          .cases__number.cases__grid-item2 
            span <i>3</i>
          .cases__subtitle.cases__grid-item3.show-dwill dWill <a>/dWill.app</a>
          .cases__text.cases__grid-item4.show-dwill 
            p dWill - the first decentralized non-custodial inheritance protocol. With dWill, you can bequeath tokens from your cryptocurrency wallet to the trusted wallets of your family and friends (or, for example, to your reserve wallet). dWill works completely in a decentralized way, reliably and autonomously.


        .cases__text.cases__text--mobile.cases__grid-item4.show-dwill 
          p dWill - the first decentralized non-custodial inheritance protocol. With dWill, you can bequeath tokens from your cryptocurrency wallet to the trusted wallets of your family and friends (or, for example, to your reserve wallet). dWill works completely in a decentralized way, reliably and autonomously.


    .cases__btns 
      a.btn-default(href="#consultation-block") <span>+</span> BOOK A CONSULTATION
      .btn-arrow
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 9L12 22M12 22L15 19M12 22L9 19M12 6C11.4696 6 10.9609 5.78929 10.5858 5.41421C10.2107 5.03914 10 4.53043 10 4C10 3.46957 10.2107 2.96086 10.5858 2.58579C10.9609 2.21071 11.4696 2 12 2C12.5304 2 13.0391 2.21071 13.4142 2.58579C13.7893 2.96086 14 3.46957 14 4C14 4.53043 13.7893 5.03914 13.4142 5.41421C13.0391 5.78929 12.5304 6 12 6Z" stroke="#F2633F" stroke-width="1.17434" stroke-linecap="round" stroke-linejoin="round"/></svg>
        span SEE MORE PROJECTS

    .cases__carousel
      .swiper.swiper-cases
        .swiper-wrapper 
          .swiper-slide.cases-slide
            .cases-slide__item 
              .cases-slide__back 
                img(src="img/carousel/slide1.png" alt="")
              .cases-slide__name 
                img.unactive(src="img/cases/unactive/uno.webp" alt="")
                img.active(src="img/cases/active/uno.png")
          .swiper-slide.cases-slide
            .cases-slide__item 
              .cases-slide__back 
                img(src="img/carousel/slide2.png" alt="")
              .cases-slide__name 
                img.unactive(src="img/cases/unactive/amnext.webp" alt="")
                img.active(src="img/cases/active/amnext.png")
          .swiper-slide.cases-slide
            .cases-slide__item 
              .cases-slide__back 
                img(src="img/carousel/slide3.png" alt="")
              .cases-slide__name 
                img.unactive(src="img/cases/unactive/voomo.webp" alt="")
                img.active(src="img/cases/active/voomo.png")
          .swiper-slide.cases-slide
            .cases-slide__item 
              .cases-slide__back 
                img(src="img/carousel/slide4.png" alt="")
              .cases-slide__name 
                img.unactive(src="img/cases/unactive/xstarter.webp" alt="")
                img.active(src="img/cases/active/xstarter.png")
          .swiper-slide.cases-slide
            .cases-slide__item 
              .cases-slide__back 
                img(src="img/carousel/slide5.png" alt="")
              .cases-slide__name 
                img.unactive(src="img/cases/unactive/social.webp" alt="")
                img.active(src="img/cases/active/social.png")
          .swiper-slide.cases-slide
            .cases-slide__item 
              .cases-slide__back 
                img(src="img/carousel/slide6.png" alt="")
              .cases-slide__name 
                img.unactive(src="img/cases/unactive/swap.webp" alt="")
                img.active(src="img/cases/active/swap.png")
          .swiper-slide.cases-slide
            .cases-slide__item 
              .cases-slide__back 
                img(src="img/carousel/slide7.png" alt="")
              .cases-slide__name 
                img.unactive(src="img/cases/unactive/spicy.webp" alt="")
                img.active(src="img/cases/active/spicy.png")
          .swiper-slide.cases-slide
            .cases-slide__item 
              .cases-slide__back 
                img(src="img/carousel/slide8.png" alt="")
              .cases-slide__name 
                img.unactive(src="img/cases/unactive/diamond.webp" alt="")
                img.active(src="img/cases/active/diamond.png")
          .swiper-slide.cases-slide
            .cases-slide__item 
              .cases-slide__back 
                img(src="img/carousel/slide1.png" alt="")
              .cases-slide__name 
                img.unactive(src="img/cases/unactive/mandala.webp" alt="")
                img.active(src="img/cases/active/mandala.png")
          .swiper-slide.cases-slide
            .cases-slide__item 
              .cases-slide__back 
                img(src="img/carousel/slide1.png" alt="")
              .cases-slide__name 
                img.unactive(src="img/cases/unactive/fair.webp" alt="")
                img.active(src="img/cases/active/fair.png")
          .swiper-slide.cases-slide
            .cases-slide__item 
              .cases-slide__back 
                img(src="img/carousel/slide1.png" alt="")
              .cases-slide__name 
                img.unactive(src="img/cases/unactive/phyera.webp" alt="")
                img.active(src="img/cases/active/phyera.png")
          .swiper-slide.cases-slide
            .cases-slide__item 
              .cases-slide__back 
                img(src="img/carousel/slide3.png" alt="")
              .cases-slide__name 
                img.unactive(src="img/cases/unactive/bdns.webp" alt="")
                img.active(src="img/cases/active/bdns.png")
          .swiper-slide.cases-slide
            .cases-slide__item 
              .cases-slide__back 
                img(src="img/carousel/slide5.png" alt="")
              .cases-slide__name 
                img.unactive(src="img/cases/unactive/darwin.webp" alt="")
                img.active(src="img/cases/active/darwin.png")
          .swiper-slide.cases-slide
            .cases-slide__item 
              .cases-slide__back 
                img(src="img/carousel/slide1.png" alt="")
              .cases-slide__name 
                img.unactive(src="img/cases/unactive/1stop.webp" alt="")
                img.active(src="img/cases/active/1stop.png")
          .swiper-slide.cases-slide
            .cases-slide__item 
              .cases-slide__back 
                img(src="img/carousel/slide4.png" alt="")
              .cases-slide__name 
                img.unactive(src="img/cases/unactive/ccrisp.webp" alt="")
                img.active(src="img/cases/active/ccrisp.png")
          .swiper-slide.cases-slide
            .cases-slide__item 
              .cases-slide__back 
                img(src="img/carousel/slide1.png" alt="")
              .cases-slide__name 
                img.unactive(src="img/cases/unactive/grey.webp" alt="")
                img.active(src="img/cases/active/grey.webp")
          .swiper-slide.cases-slide
            .cases-slide__item 
              .cases-slide__back 
                img(src="img/carousel/slide7.png" alt="")
              .cases-slide__name 
                img.unactive(src="img/cases/unactive/heycard.webp" alt="")
                img.active(src="img/cases/active/heycard.webp")


        .swiper-button-prev
          img(src="img/arrow-prev.svg" alt="").current
          img(src="img/arrow-disabled.svg" alt="").disabled
        .swiper-button-next
          img(src="img/arrow-next.svg" alt="").current
          img(src="img/arrow-disabled.svg" alt="").disabled
  .cases__footer
    a.btn-default(href="#") <span>+</span> BOOK A CONSULTATION