section.consultation#consultation-block
  .section-head 
    //- img.consultation__back(src="img/back-consultation.png" alt="")
    h2 ESTIMATE YOUR PROJECT NOW!
    h3 Get free and confidential consultation, build your project with our <br> highly qualified team!
  .consultation__wrapper
    .consultation__row
      span Contact us via messenger
        <svg width="22" height="8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 4h13m0 0l-3-3m3 3l-3 3M5 4a2 2 0 11-4 0 2 2 0 014 0z" stroke="#fff" stroke-width="1.174" stroke-linecap="round" stroke-linejoin="round"/></svg>
      .social 
        a(href="http://t.me/perminovma" target="_blank")
          <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11 16.8625L22.2375 26.75C22.3674 26.865 22.5249 26.9442 22.6947 26.9799C22.8644 27.0156 23.0405 27.0065 23.2057 26.9535C23.3708 26.9006 23.5194 26.8056 23.6367 26.6779C23.7541 26.5501 23.8362 26.3941 23.875 26.225L28.575 5.70004C28.6144 5.52327 28.6051 5.33913 28.548 5.16726C28.4909 4.99538 28.3883 4.84224 28.2509 4.72417C28.1136 4.6061 27.9468 4.52753 27.7683 4.49687C27.5898 4.4662 27.4064 4.48457 27.2375 4.55004L4.16251 13.6125C3.23751 13.975 3.36251 15.325 4.33751 15.525L11 16.8625Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M11 16.8627L28.0125 4.5752" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M16.6125 21.7998L12.7125 25.6998C12.5734 25.8411 12.3954 25.9378 12.2011 25.9777C12.0069 26.0176 11.8052 25.9988 11.6216 25.9238C11.4381 25.8488 11.281 25.7209 11.1703 25.5563C11.0596 25.3918 11.0003 25.1981 11 24.9998L11 16.8623" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
        a(href="https://wa.me/79992027737" target="_blank")
          <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.675 22.1251C4.18611 19.6131 3.66531 16.644 4.21039 13.7753C4.75546 10.9065 6.32891 8.33537 8.63535 6.5445C10.9418 4.75364 13.8226 3.86623 16.737 4.04888C19.6513 4.23152 22.3988 5.47165 24.4636 7.53646C26.5284 9.60127 27.7686 12.3488 27.9512 15.2631C28.1339 18.1775 27.2465 21.0583 25.4556 23.3647C23.6647 25.6712 21.0936 27.2446 18.2248 27.7897C15.3561 28.3348 12.387 27.814 9.875 26.3251V26.3251L5.725 27.5001C5.55497 27.5498 5.3747 27.5529 5.20307 27.509C5.03145 27.4651 4.87479 27.3758 4.74953 27.2506C4.62426 27.1253 4.535 26.9686 4.4911 26.797C4.4472 26.6254 4.45027 26.4451 4.5 26.2751L5.675 22.1251Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M19.0125 23C17.6967 23.0033 16.3932 22.7466 15.177 22.2446C13.9607 21.7426 12.8556 21.0052 11.9252 20.0748C10.9948 19.1444 10.2574 18.0393 9.75544 16.823C9.25343 15.6068 8.9967 14.3033 9 12.9875C9.00331 12.0614 9.37352 11.1744 10.0295 10.5207C10.6856 9.86705 11.5739 9.50002 12.5 9.50003V9.50003C12.6528 9.49881 12.8031 9.5388 12.9351 9.61579C13.0671 9.69278 13.1759 9.80392 13.25 9.93753L14.7125 12.4875C14.7995 12.6425 14.8441 12.8177 14.8419 12.9955C14.8397 13.1732 14.7908 13.3472 14.7 13.5L13.525 15.4625C14.1268 16.8014 15.1986 17.8732 16.5375 18.475L18.5 17.3C18.6528 17.2093 18.8268 17.1603 19.0046 17.1581C19.1823 17.1559 19.3575 17.2006 19.5125 17.2875L22.0625 18.75C22.1961 18.8242 22.3072 18.933 22.3842 19.0649C22.4612 19.1969 22.5012 19.3472 22.5 19.5C22.4967 20.4251 22.1286 21.3116 21.4757 21.9669C20.8227 22.6222 19.9376 22.9934 19.0125 23V23Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
    .consultation__row
      span Our book a convenient time for consultation
        <svg width="22" height="8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 4h13m0 0l-3-3m3 3l-3 3M5 4a2 2 0 11-4 0 2 2 0 014 0z" stroke="#fff" stroke-width="1.174" stroke-linecap="round" stroke-linejoin="round"/></svg>
      a.btn-default Book <br>a call 
    .consultation__row.consultation__row--mode
      span Or simply fill out this form
        <svg width="22" height="8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 4h13m0 0l-3-3m3 3l-3 3M5 4a2 2 0 11-4 0 2 2 0 014 0z" stroke="#fff" stroke-width="1.174" stroke-linecap="round" stroke-linejoin="round"/></svg>
  form.form
    input(type="text" placeholder="Name" required)
    .custom-select.form__social
      select
        option Telegram
        option Telegram
        option Whatsapp
    input(type="text" placeholder="Contact" required)
    textarea(placeholder="Briefly describe your project or idea")
    .form__footer 
      button.btn-default(type="submit")#submit SUBMIT REQUEST
      span By using the service, you accept the Terms of Service
    .form__message Thank you! Your message has been sent. We will contact you shortly!