section.description
  ._container 
    .section-head 
      h2 <span>/ WE PRIDE OURSELVES /</span> ON EXCELLING IN <br> EVERY CLIENT PROJECT WE UNDERTAKE
    .description__wrapper._container-inner
      .description__text
        p We follow a professional way of dealing with our clients right from planning to deployment and maintenance. Our team put their time and energy into taking the outcome based on the client’s business requirement.
        p Reach out to us to get outstanding DeFi development services instantly.
      a(href="#consultation-block").btn-default   
        <span>+</span> Let's talk about your project