section.experience._container 
  .section-head 
    h2 EXPERIENCE SINCE <i>2019</i>
    h3 Today's Mycelium Lab is:
  .experience__wrapper 
    .experience__item(data-number="50+")
      h3 PROJECTS
      p Created on a turn-key basis
    .experience__item(data-number="4+")
      h3 YEARS
      p Of development experience
    .experience__item(data-number="39+")
      h3 SPECIALISTS
      p 33+ developers
    .experience__item(data-number="40+")
      h3 PARTNERS
      p Trusted by the crypto community
  .experience__quote 
    p The combined <span>experience of our specialists is more than 100 projects</span> and includes the development of smart contracts, secure data storage and transfer systems, cryptocurrency exchanges, P2P services, wallets, exchanges, NFT marketplaces, GameFi, blockchain casinos, DEX exchanges, SWAP exchanges, liquidity pools and other blockchain solutions.