section.reviews
  ._container
    .section-head 
      h2 WHAT OUR CUSTOMERS SAY
      h3 Free & Confidential
    .reviews__wrapper 
      .swiper.swiper-reviews 
        .swiper-wrapper
          .swiper-slide 
            .reviews-slide 
              .reviews-slide__pic 
                img(src="img/man.png" alt="")
              .reviews-slide__descr 
                .reviews-slide__name Ivan Kononov <span>CEO of <a href="https://swapcase.io/staking/" target="_blank">swapcase.io</a><span>
                .reviews-slide__logo
                  img(src="img/review-logo.png" alt="")
                p SWAPCASE is decentralized asset management fund.
              .reviews-slide__text 
                p "When the guys took on the project we did not even fully imagine the concept of what we want to see in the end. <span>We were lucky with the choice of technical team, they got it right at 100%</span> and did the project only themselves. But most of all I was surprised by the professionalism and patience of the managers who worked on the project as on their own child. <br>Thank you!"
          .swiper-slide 
            .reviews-slide 
              .reviews-slide__pic 
                img(src="img/man2.png" alt="")
              .reviews-slide__descr 
                .reviews-slide__name Fabio Pizzingrili <span>CEO of <a href="https://amnext.io/" target="_blank">Amnext</a></span>
                .reviews-slide__logo
                  img(src="img/review-logo2.png" alt="")
                p The next big lottery in DeFi. 
              .reviews-slide__text 
                p "“Everything works perfectly. Nice job!”"
          .swiper-slide 
            .reviews-slide 
              .reviews-slide__pic 
                img(src="img/man3.png" alt="")
              .reviews-slide__descr 
                .reviews-slide__name Paolo Diglio <span>CEO of <a href="https://swapcase.io/staking/" target="_blank">Spicy.Network</a></span>
                .reviews-slide__logo
                  img(src="img/review-logo3.png" alt="")
                //- p SWAPCASE is decentralized asset management fund.
              .reviews-slide__text 
                p "Thank you very much for a job well done! We are very satisfied with the result and happy that we've started collaboration. You are very good professionals and specialists with outstanding quality and creative approach!"
          .swiper-slide 
            .reviews-slide 
              .reviews-slide__pic 
                img(src="img/man4.png" alt="")
              .reviews-slide__descr 
                .reviews-slide__name Christof Waton <span>CEO of <a>CEO Acta Finance</a></span>
                .reviews-slide__logo
                  img(src="img/review-logo4.png" alt="")
                p SWAPCASE is decentralized asset management fund.
              .reviews-slide__text 
                p "Great job guys! Your openness, honesty and adaptability to changing Defi conditions have helped to avoid many problems, and your proactive approach is impressive!"

        .swiper-button-prev
          img(src="img/arrow-prev.svg" alt="").current
          img(src="img/arrow-disabled.svg" alt="").disabled
        .swiper-button-next
          img(src="img/arrow-next.svg" alt="").current
          img(src="img/arrow-disabled.svg" alt="").disabled