section.services._container#about-block
  ._container-inner
    .section-head
      h2 EXPLORE OUR SERVICES
      h3 Convert the project into profit
    .services__wrapper 
      .services__item.item1
        .services__title WEB3/ DEFI/ FINTECH
        .services__subtitle Web3, DeFi & Fintech projects creation
        p There's no need to hire the entire team of developers, managers and designers to create a Web3 project - we will do it for you. Get a proprietary dApp created from scratch!
      .services__item.item2
        .services__title AUDIT
        .services__subtitle Smart Contract & dApp Security Audit
        p Eliminate risks of hacks, exploits and front-running attacks from your decentralized apps & smart contracts with a top-tier audit methodology.
      .services__item.item3
        .services__title CONSULTATION
        .services__subtitle Consultation service
        p We pioneered in DeFi development when everyone had not even heard about it. Protect yourself against unknown risks, consult our experts.
      .services__item.item4
        .services__title DEVELOPMENT
        .services__subtitle Development of mobile and web applications
        p We help to create apps that succeed in the digital-first world. Whether iOS, Android or web applications we work closely with you to build a product that meets the needs of your users and brings value to your business.
      .services__item.item5
        .services__title SMART CONTRACT
        .services__subtitle Smart contract development
        p Our team creates smart contracts of any complexity on any blockchains. Save your time and get a ready smart contract you can trust!
      .services__item.item6
        .services__title OUTSOURCING
        .services__subtitle Development outsourcing and outstaffing services
        p Maintaining your own staff of IT specialists is more expensive than hiring a team of professional developers. Frontenders, backenders, designers, testers, project managers. We will allocate a separate specialist or a full team for your project.

