section.steps
  ._container 
    .section-head 
      h2 THE WAY IT WORKS
      h3 We are your reliable partner who will undertake the technical part of <br> the project, freeing up your time and energy for business development
    .steps__wrapper 
      .steps__item
        img(src="img/LightbulbFilament.svg" alt="")
        h3 You come to us
        p With your idea or<br> unfinished product
      .steps__item
        img(src="img/Coffee.svg" alt="")
        h3 You're relaxing
        p And keep an eye on the<br> progress of your project
      .steps__item
        img(src="img/Frame.svg" alt="" width="55" heght="50")
        h3 You get
        p Functional, original, reliable and<br> attractive product, ready to launch
    .steps__footer 
      img(src="img/Download.svg" alt="download-icon")
      div Want to see more? <br> Download our <a href="">presentation</a>