doctype html
html(lang="ru")
  include modules/head
  body
    .wrapper
      include modules/header
      .page
        section.carrer._container 
          .section-head 
            h2 Welcome!
            h3 All the best and thanks for showing your interest. If you breath technology, and you're expert in your field, We want you on our Mycelium Lab Team
          .tabs 
            .tabs-item
              .tabs-head 
                span Lead Blockchain Developer
                img(src="img/arrow.svg" alt="")
              .tabs-content 
                div
                  p Mycelium Lab is currently looking for an enthusiastic and passionate Blockchain Engineer, who isn’t deterred by difficulties.
                  p While holding this position you, as a Lead Blockchain Developer will be able to work with a wide specter of technologies and languages and drive the work of other team members on the blockchain-based projects.
                  p Together with Mycelium Lab, you will constantly enhance and broaden your skills’ list while building applications on different blockchain platforms. Then, furtherly apply this knowledge in various projects you will work with such blockchain giants as Everstake, Remme, Solana, and many others.
                  p We are looking forward to you joining our team!
                div 
                  h3 Required skills:
                  ul 
                    li 3+ years of development experience using a general-purpose programming language (C++/ Rust/ Node.js);
                    li Great programming skills with blockchain and decentralized architectures Experience with Ethereum platform and Solidity;
                    li Demonstrated excellence in software engineering; including exposure to distributed systems, scalability, and algorithms;
                    li Tech leadership for the dedicated teams on the blockchain-based projects;
                    li Actively participate in communication with clients;
                    li Working knowledge of English.
                  h3 Will be a plus:
                  ul 
                    li Having a background working with Defi projects, protocol development;
                    li Crypto trading platforms, permissioned blockchains like Quorum;
                    li Hyperledger or others.

            .tabs-item
              .tabs-head 
                span Solidity Developer
                img(src="img/arrow.svg" alt="")
              .tabs-content 
                div
                  p Mycelium Lab is currently looking for an enthusiastic and passionate Blockchain Engineer, who isn’t deterred by difficulties.
                  p While holding this position you, as a Lead Blockchain Developer will be able to work with a wide specter of technologies and languages and drive the work of other team members on the blockchain-based projects.
                  p Together with Mycelium Lab, you will constantly enhance and broaden your skills’ list while building applications on different blockchain platforms. Then, furtherly apply this knowledge in various projects you will work with such blockchain giants as Everstake, Remme, Solana, and many others.
                  p We are looking forward to you joining our team!
                div 
                  h3 Required skills:
                  ul 
                    li 3+ years of development experience using a general-purpose programming language (C++/ Rust/ Node.js);
                    li Great programming skills with blockchain and decentralized architectures Experience with Ethereum platform and Solidity;
                    li Demonstrated excellence in software engineering; including exposure to distributed systems, scalability, and algorithms;
                    li Tech leadership for the dedicated teams on the blockchain-based projects;
                    li Actively participate in communication with clients;
                    li Working knowledge of English.
                  h3 Will be a plus:
                  ul 
                    li Having a background working with Defi projects, protocol development;
                    li Crypto trading platforms, permissioned blockchains like Quorum;
                    li Hyperledger or others.

      include modules/footer
  include modules/script